{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!--
  {% block meta %}
  {% endblock meta %}
  -->
</head>

<body>
<!--
  {% block content %}
  {% endblock content %}
  -->
</body>

</html>
